@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");

/* 링크 스타일 */
a{
    color:inherit;
    text-decoration:none;
}
.header,.visual,.main,.footer{
    width:1200px;
    margin:0 auto;
}
.logo-text{
    background: rgb(212, 245, 212);
    color:green;
    display: inline-block;
}
.navigation{
    background: red;
}
.visual{
    background: orange;
    height: 600px;
}
.articles{
    background: yellowgreen;
}
.business-info{
    background: plum;
}
.footer{
    background: purple;
}
.menu-item{
    display: inline-block;
}
.sub-menu1,.sub-menu3{
    background:whitesmoke;
}
.sub-menu2,.sub-menu4{
    background:gray;
}
.menu-item-dropdown{
    position: relative;
    display: inline-block;
}
.sub-menu-dropdown{
    display: none;
    position: absolute;
}
.sub-menu-dropdown li{
    display:block;
}
li.menu-item-dropdown:hover ul.sub-menu-dropdown{
    display:block;
}

