@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");

/* 링크 스타일 */
a{
    color:inherit;
    text-decoration:none;
}
.readable-hidden{
    background: red;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}
.header,.visual,.main,.footer{
    width:1200px;
    margin:0 auto;
}
/* 헤더 */
.header{
    background: whitesmoke;
    position: relative;
}
.logo-text{
    background: #aaa;
    color:green;
}
.navigation{
    background: red;
}
.menu{
    background: orchid;
    margin-left: 100px;
}
.menu-item{
    background: yellowgreen;
    float: left;
    width: 100px;
}
.sub-menu{
    background: teal;
    display: none;
}
.langauge-select{
    background: grey;
}
.langauge-select-list{
    background: blueviolet;
    display: none;
}
/* 비주얼 */
.visual{
    background: orange;
    height: 600px;
}
/* 뉴스아티클 */
.articles{
    background: yellowgreen;
}
/* 비지니스 정보 */
.business-info{
    background: plum;
}
/* 푸터 */
.footer{
    background: purple;
}

